body {
  font-size: 13px;
  font-family: sans-serif;
  border: 1px solid;
  height: 100vh;
  padding: 20px;
  background-color: #e3e3e3; }
  body .error-notification {
    border: 1px solid;
    color: #f00000;
    padding: 10px;
    margin: 10px 0; }
  body .upload-file {
    border: 1px solid #000;
    padding: 20px; }
    body .upload-file form .form-field {
      margin-top: 10px; }
